---
  - name: Add Google Chrome key
    apt_key:
      url: "{{google_chrome_key}}"
      state: present
    become: yes
  
  - name: Add Google Chrome repo
    apt_repository:
      repo: deb "{{google_chrome_url}}" stable main
      state: present
      filename: google-chrome
    become: true
    
  - name: Install and google chrome
    apt:
      pkg:
        - google-chrome-stable
      state: present
    become: yes
  
  - name: Set timezone to that of New York
    timezone:
      name: "{{timezone}}"
    become: true

  - name: Configure git email
    git_config:
      name: user.email
      value: "{{git_email}}"
      scope: global

  - name: Configure git name
    git_config:
      name: user.name
      value: "{{git_user_name}}"
      scope: global
  
  - name: Add github ssh key for cloning iTrust2
    copy:
      src: files/id_rsa_github
      dest: "{{git_rsa_path}}"
      owner: root
      group: root
      mode: 0600
    become: true
